// 
// Wizbii case study
// -----------------
//
// Variables stylesheet
//
//

 // Background
 $color-bg: #f5f5f5;
 $color-darkbg: #e6e6e6;
 $color-bloc: white;
 $color-blocshadow: #e2e2e2;
 // Gutters
 $gutter-bloc: 20px;
 // Animations
 $duration-animation: 0.5s;
 // Font sizes
 $size-font-default: 13px;
 $size-font-h1: 26px;
 $size-font-h2: 22px;
 $size-font-h3: 18px;
 // Font colors
 $color-font-default: #545d61;
 $color-font-lightgrey: #b6b8b9;
 $color-font-lightergrey: #d5dadc;
 $color-font-boldgrey: #596165;
 $color-font-blue: #27a8e1;
 $color-font-bluehover: #4cc8ff;
 $color-font-error: #e74c3c;
 $color-font-danger: #e74c3c;
 // Buttons colors
 $color-button-blue: #2aa9e2;
 $color-button-bluehover: #67c1ea;
 $color-button-bluetext: white;
 // Radius
 $radius-default: 6px;